<mat-card class="card">
  <mat-card-content>
    <h1>Your Profile details</h1>
    <div class="container text-center ">
      <div class="container d-flex flex-col justify-content-center align-items-center mt-5">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx79eHhzBlLGuePKDPceIL7JT7-zydKSHupcuEQ1SHVA&s" class="profile-image" alt="">
        <h1 class="mt-3">{{userinfo.firstname}} {{userinfo.lastname}}</h1>
      </div>
      <div class="row mt-2">
        <div class="col-md-10 col-sm-12  offset-md-2 ">
              <table class="table col-sm-12 ">
                <tr><td>Username</td><td>{{userinfo.username}}</td></tr>
                <tr><td>Email</td><td>{{userinfo.email}}</td></tr>
                <tr><td>Phone Number</td><td>{{userinfo.contactno}}</td></tr>
                <tr><td>Gender</td><td>{{userinfo.gender}}</td></tr>
                <tr><td>Age</td><td>{{userinfo.age}}</td></tr>

              </table>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="btns ">
    <app-updateprofile (userUpdated)="updateUser($event)"  [user]="userinfo"></app-updateprofile>



  </mat-card-actions>
</mat-card>
