<div class="products-container" #productsContainer>
<h2 align="center" id="bycategory" class="mt-2 " style="font-family: monospace; font-size: 2rem;">
  {{products[0]?.category}}
</h2>
 <div class=" products gap-6  ml-4  mt-4    mx-auto grid w-full max-w-8xl items-center d-flex flex-wrap justify-center space-y-4 px-5 py-10 md:grid-cols-2 md:gap-12 md:space-y-0 lg:grid-cols-3 ">




<div class="rounded-lg product pt-3 px-5 overflow-hidden  mr-3" *ngFor="let product of displayedProducts ">
  <div (click)="openDialog(product)" >
    <img
    [src]="'https://atozstore1-latest-2.onrender.com/uploads' + product.imageFile.filePath"
    alt="Laptop"
    class="aspect-[16/9] w-full rounded-md md:aspect-auto md:h-[300px] lg:h-[200px]"
  />
  
  <div class="p-2 mt-2">
    <h3 class="inline-flex  items-center text-md font-semibold">
     {{product.productname |titlecase}}
    </h3>


    <div class="price" *ngIf="product.offer!=='null'  else nodiscount">
    <div class="d-flex align-items-center gap-2 border-black" >
      <h2>  {{ product.price | calculatepricepipe:product.offer | currency:'INR':'symbol':'1.2-2' }}</h2>
   <h5 class="d-flex align-items-center gap-2" > MRP:<span class="text-decoration-line-through">{{ product.price | currency:'INR':'symbol':'1.2-2' }}</span></h5>
    </div>
    <span style="position: relative; bottom: 8px;"> ({{product.offer}} Off) </span>

   </div>
<ng-template #nodiscount>
<h2>{{ product.price | currency:'INR':'symbol':'1.2-2' }}</h2>

</ng-template>

  </div>
</div>
</div>


</div>
<app-paginator
[currentPage]="currentPage"
[pageSize]="pageSize"
[collectionSize]="products.length"
(pageChange)="onPageChange($event)">
</app-paginator>
</div>

