
<div class="main">
    <div class="w-30 orders" >
        <div class="info-box" *ngFor="let order of orders" (click)="showprodinfo(order)">
          <span *ngIf="order.availability; else notAvailable" class="font-serif mb-2 letter-spacing-class text-xl" style="letter-spacing: 2px; color: #004d99;">Availabile For Delivery</span>
          <ng-template  #notAvailable class="mb-2">Not Availabile</ng-template>
          <div class="sub-info-box">
            <p>
             <span class="fw-bold"> Username:</span>
               {{order.username}}</p>
            <p>
              <span class="fw-bold"> Email:</span>
               {{order.email}}</p>

            <p>
              <span class="fw-bold"> Amount</span>
              :{{order.price|currency:'INR'}}</p>
            <p>
              <span class="fw-bold"> Landmark:</span>
               {{order.address.landMark}}</p>

          </div>
        </div>
    </div>
      <div class="w-70">
        <app-orderlist [order]="orderitem"></app-orderlist>
        </div>
  </div>
