.full-width{
    width: 100%;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .register-container {
        width: 95%;
        padding: 15px;
    }

  }

  @media (max-width: 576px) {
    .register-container {
        width: 100%;
        padding: 10px;
    }

  }

  .has-danger{
    color: red;
    font-size: 16px;
    font-family: system-ui;
  }

  .has-success{
    color: green;
    font-size: 17px;
    font-family: system-ui;
  }


  @keyframes shadowAnimation {
    from{
      box-shadow:0 0 10px rgba(0, 0, 0, 0.5) ;
    }
    to{
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    }
  }
  .f1{
    background-image: url(/assets/del.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  h2{
    color: black;
    font-size: xx-large;
    font-weight: 800;
  }

  h3{
    color: black;
    font-size: larger;
    font-weight: 800;
  }

