<div  >
    <mat-toolbar class="navbar py-2">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center " >
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" class="text-white" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>

        <a (cilck)="deliverypage()"  class="text-decoration-none ">
        <span class="font-bold ml-4 logo"><i class="fa-solid mr-3 fa-cart-shopping fa-xl"></i>AtoZStore</span>
        </a>

        <div fxShow="true" fxHide.lt-md fxLayout="row" fxLayoutAlign="end center" class="g-3 mr-5">
        <form class="d-flex input-group w-auto">
          <div class="searchbox">

            <input type="search" name="" id="" placeholder="Search product">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </form>
        </div>
        <div fxShow="true" fxHide.lt-md fxLayout="row" fxLayoutAlign="end center" class="g-3 mr-5">





          <div mdbDropdown class="dropdown" style="color: white;">
            <button

              class="btn  dropdown-toggle"
              type="button"
              id="dropdownMenu2"
              mdbDropdownToggle
              aria-expanded="false"
            >
            <i class="fa-solid fa-user  fa-2xl"></i>

            </button>
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><a  routerLink="delieveryprofile" class="dropdown-item" >

                View Profile <i class="fa-solid fa-eye  ml-2"></i>
              </a></li>
              <li><button class="dropdown-item" type="button">
                <a (click)="logout()">
                Logout
                </a>
                <i class="fa-solid fa-sign-out"></i></button></li>
              <li>
              </li>
            </ul>
          </div>




        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>

          <form class="d-flex input-group w-auto">
            <div class="searchbox">

              <input type="search" name="" id="" placeholder="search product">

            </div>

          </form>

         <div mdbDropdown class="dropdown "  >
          <button

            class="p-2 px-3 border-2 dropdown-toggle border-dark"
            type="button"
            id="dropdownMenu2"
            mdbDropdownToggle
            aria-expanded="false"
          >
          <i class="fa-solid fa-user  fa-2xl"></i>

          </button>
          <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a  routerLink="delieveryprofile" class="dropdown-item" >

              View Profile <i class="fa-solid fa-eye  ml-2"></i>
            </a></li>
            <li><button class="dropdown-item" type="button">Logout <i class="fa-solid fa-sign-out"></i></button></li>
            <li>
            </li>
          </ul>
        </div>

        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content fxFlexFill class="content">




        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
